<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Titre{% endblock %}</title>
    {% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {#{% if app.debug %}#}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/mhnewsletter/css/main.css') }}">
        {#{% else %}
       {% stylesheets
       '@jquery_ui_css'
       '@bootstrap_css'
        '@main_css'
        '@font_awesome_css'
        '@simplemde_css'
            output='css/compiled/main.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endif %}#}


    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110075095-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110075095-2');
    </script>

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
    <a class="navbar-brand" href="{{ path('mh_newsletter_home') }}">NewsletterProcessor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <li class="nav-item"><a class="nav-link" href="{{ path('mh_newsletter_home') }}">Accueil </a> </li>
            <li class="nav-item"><a class="nav-link" href="{{ path('mh_newsletter_doc_view') }}">Documentation</a> </li>
        </ul>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="navbar-text">Connecté en tant que {{ app.user.username }}</div>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Réglages
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                        <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">Changer mot de passe</a>
                    </div>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Connexion</a>
                </li>
            </ul>
        {% endif %}


    </div>
</nav>
<div class="bg"></div>
<div id="header" class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-3">
            <a href="{{ path('mh_newsletter_home') }}" style="color: wheat">NewsletterProcessor</a>
        </h1>
        <p class="lead">
            Un outil de création de newsletters et de mail HTML pour le service de Communication du Groupe ESIEA<br><br>
            <a href="{{ path('mh_newsletter_create') }}" class="btn btn-light">Créer une newsletter</a>

        </p>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>


<hr>

<footer>
    <p>Hanotaux Mathieu - Tanguy Giton - François Delville, Webmasters du Groupe ESIEA</p>
</footer>

    {% block javascript %}

        {#{% if app.debug %}#}

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script
                src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/f5bf701764.js"></script>
        <script  src="{{ asset('bundles/mhnewsletter/js/main.js') }}"></script>
        <script  src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>

        <script  src="{{ asset('js/fos_js_routes.js') }}"></script>
        <script  src="{{ asset('bundles/mhnewsletter/bower_components/simplemde/dist/simplemde.min.js') }}"></script>

        {#{% else %}
        <script src="https://use.fontawesome.com/f5bf701764.js"></script>

        {% javascripts
        '@bootstrap_jquery_js'
        '@simplemde_js'
        '@main_js'
        '@jsrouter_js'
        output='js/compiled/main.js'
        filter='jsqueeze' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}#}


    {% endblock %}


</body>
</html>
