<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Titre{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <script src="{{ asset('bundles/mhmail/js/jscolor.min.js') }}"></script>

        <style>
            body {
                overflow-y: scroll;
            }
            .scroll {
                position:relative;
            }
        </style>
    {% endblock %}
</head>

<body>
    <div class="container">
        <div id="header" class="jumbotron">
            <h1><a href="{{ path('mh_newsletter_home') }}">NewsletterProcessor</a></h1>
            <p>
                Un outil de création de newsletters et de mail HTML pour le service de Communication du Groupe ESIEA
            </p>
        </div>

        <div class="row">
            <div id="menu" class="col-md-2">
                <h3>Menu</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ path('mh_newsletter_home') }}">Newsletter</a> </li>
                    <li><a href="{{ path('mh_mail_home') }}">Mail</a> </li>
                    <li><a href="{{ path('mh_mail_tool_home') }}">Outils</a> </li>
                </ul>
            </div>
            <div id="content" class="col-md-10">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <hr>

        <footer>
            <p>Hanotaux Mathieu - Webmaster du Groupe ESIEA 2017- <a href="mailto:hanotaux@et.esiea.fr">hanotaux@et.esiea.fr</a></p>
        </footer>
    </div>

    {% block javascript %}

    {% endblock %}


</body>
</html>