{% extends "MHMailBundle::layout.html.twig" %}

{% block title %}
    Selection - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Liste des Images</h2>
    <hr>
    <div id="contain" >
        <div class="well">
            <table cellspacing="10" cellpadding="10" border="5" bgcolor="#ffffff" width="800px">
                <tbody>
                    {% for image in listImage %}
                        <tr>
                            <table border="1" width="100%">
                                <tbody>
                                    <tr>
                                        <td width="15%" align="center">
                                            Nom :
                                        </td>
                                        <td width="85%" align="left">
                                            {{ image.nom }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="15%" align="center">
                                            Alt :
                                        </td>
                                        <td width="85%" align="left">
                                            {{ image.alt }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="15%" align="center">
                                            Src :
                                        </td>
                                        <td width="85%" align="left">
                                            {{ image.src }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="15%" align="center">
                                            Description :
                                        </td>
                                        <td width="85%" align="left">
                                            {{ image.description }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="15%" align="center">
                                            Rendu :
                                        </td>
                                        <td width="85%" align="center">
                                            <img src="{{ image.src }}" alt="Image de l'outil image" height="100"  />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="15%" align="center">
                                            Actions
                                        </td>
                                        <td width="85%" align="center" bgcolor="#fff0f5">
                                            <a class="btn btn-warning" href="{{ path('mh_mail_image_edit', {'id': image.id} ) }}"> Modifier</a>
                                            <a class="btn btn-danger" href="{{ path('mh_mail_image_delete', {'id': image.id}) }}"> Supprimer</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <br>
            <a class="btn btn-primary" href="{{ path('mh_mail_image_add') }}">Ajouter</a>
        </div>
    </div>
    <br>
    <a class="btn btn-default" href="{{ path('mh_mail_home') }}">Retour à  l'accueil</a>

{% endblock %}

{% block bundle_javascript %}

{% endblock %}

