                    <!-- Debut bloc texte separation -->

                    <tr bgcolor="#{{ post.texte.bgcouleur }}">
                        <td height="{{ post.texte.hauteur }}">&nbsp;</td>
                    </tr>
                    <tr bgcolor="#{{ post.texte.bgcouleur }}">
                        <td style="font-size: 16px; font-family: Arial, sans-serif; color: #ffffff" align="center" valign="middle"><strong>{{ post.texte.texte }}<br />
                            </strong></td>
                    </tr>
                    <tr bgcolor="#{{ post.texte.bgcouleur }}">
                        <td height="{{ post.texte.hauteur }}">&nbsp;</td>
                    </tr>

                    <!-- Fin bloc texte separation -->