{% extends "MHMailBundle::layout.html.twig" %}

{% block title %}
    Selection - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Liste des Outils</h2>
    <hr>
    <div id="contain" >
        <div class="well">
            <ul>
                <li><a class="btn btn-link" href="{{ path('mh_mail_couleur_view') }}">Outil Couleur</a> </li>
                <li><a class="btn btn-link" href="{{ path('mh_mail_police_view') }}">Outil Police</a> </li>
                <li><a class="btn btn-link" href="{{ path('mh_mail_image_view') }}">Outil Image</a> </li>
            </ul>
        </div>
    </div>
    <br>
    <a class="btn btn-default" href="{{ path('mh_mail_home') }}">Retour à la liste des mails</a>

{% endblock %}

{% block bundle_javascript %}

{% endblock %}

