{% extends "MHMailBundle::layout.html.twig" %}

{% block bundle_css %}

{% endblock %}

{% block title %}
    Edition - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Edition Mail</h2>
    <hr>
        <div id="panel-master">
            <ul class="list-unstyled post-sortable ui-sortable">
            {% for post in mail.posts | sortbyfield('position') %}
            <li  id="post_{{ post.id }}" class="panel panel-default ui-sortable-handle">
                <div class="panel-body">
                    <span class="post-title">
                        {{ post.name }} </span>
                    <span class="post-description">
                        {{ post.description }}
                    </span>
                    <div class="btn btn-group-xs pull-right">
                        <a class="btn btn-warning" data-toggle="modal"
                           data-target="#post-form-modal" data-remote="false" href="{{ path('mh_mail_'~ post.slug ~ '_edit',  {'id': post.id, 'mail_id': mail.id}    ) }}">Modifier</a>
                        <a class="btn btn-danger" href="{{ path('mh_mail_post_delete', {'id': post.id, 'mail_id': mail.id}    ) }}">Supprimer</a>
                    </div>
                </div>
                <br>
            </li>

            {% endfor %}
            </ul>
        </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <a class="btn btn-primary" href="{{ path('mh_mail_post_select', {'id': mail.id}  ) }}" data-toggle="modal"
                       data-target="#post-select-modal" data-remote="false"  >Ajouter un post</a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <a href="{{ path('mh_mail_view',{'id':mail.id}) }}" class="btn btn-info" target="_blank">
                        <span class="glyphicon glyphicon-expand"></span>
                        Afficher
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <a class="btn btn-warning" href="{{ path('mh_mail_edit_header',  {'id': mail.id}    ) }}">Modifier L'entête</a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <a href="{{ path('mh_mail_mail',{'id':mail.id}) }}" class="btn btn-default" target="_blank">
                        <span class="glyphicon glyphicon-envelope"></span>
                        Mail
                    </a>
                </div>
            </div>
            <a href="{{ path('mh_mail_home') }}" class="btn btn-link">
                <span class="glyphicon glyphicon-backward"></span>
                Retour
            </a>


    <div id="post-form-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="post-content">
            </div>
        </div>
    </div>

    <div id="post-select-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="select-content">
            </div>
        </div>
    </div>


{% endblock %}

{% block bundle_javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $(".post-sortable").sortable({
            cursor: "move",
            helper: 'clone',
            update: function () {
                var order_serialize = $(this).sortable("serialize", {key: "posts[]"});

                $.ajax({
                    type: "POST",
                    url: "{{ path('mh_mail_post_order') }}",
                    data: order_serialize,
                    error: function () {
                        console.log('error');
                    }
                });
            }
        });
            /*$("#modalP").modal();
             $("#show").click(function(){
             $("#modalP").modal();
             });
             var tab = [];
             var i;
             $("form textarea").each(function(){
             tab.push(new SimpleMDE({
             spellChecker: false,
             forceSync: true,
             element: this
             }));
             });*/

        var $postSelectModal = $('#post-select-modal');

        $postSelectModal.on('show.bs.modal', function (e) {

            var $btn = $(e.relatedTarget);

            var $modalSelectContent = $postSelectModal.find('#select-content');

            $modalSelectContent.load($btn.attr("href"), function () {

            });
        });
        

            var $postFormModal = $('#post-form-modal');

            $postFormModal.on('show.bs.modal', function (e) {
                console.log("Open the new One");
                $postSelectModal.modal('hide');

                var $btn = $(e.relatedTarget);

                var $modalContent = $postFormModal.find('#post-content');

                $modalContent.load($btn.attr("href"), function () {
                    var tab = [];
                    var addname = $("input:first").val();

                    $("form textarea").each(function(){
                        tab.push(new SimpleMDE({
                            spellChecker: false,
                            forceSync: true,
                            element: this
                        }));
                    });

                    $postFormModal.find('form').submit(function (e) {

                        var $form = $(this);

                        $.ajax({
                            type: "POST",
                            url: $form.attr('action'),
                            data: $form.serialize(),
                            success: function (data) {
                                console.log(data);
                                var adddescription = $("input:first").val();
                                var $panel = $("#panel-master");
                                console.log($panel);
                                var action = $form.attr('action');
                                console.log(action);
                                var findadd = action.search("add");
                                console.log(findadd);
                                console.log(addname);
                                $url = $form.attr('action');
                                console.log($url);
                                 if (findadd != -1) {
                                     console.log("Ajout du panel");
                                     var $newPost = $($panel.find('ul').find('li')[0]).clone();
                                     console.log($newPost);
                                     $newPost.find('.post-title').html(adddescription);
                                     $newPost.find('.post-description').html(adddescription);
                                     $newPost.hide().appendTo($panel.find('ul')).fadeIn();
                                 }
                                $postFormModal.modal('hide');
                            }
                        });

                        e.preventDefault();
                    })
                });
            }).on('shown.bs.modal', function () {

            });

    });
</script>
{% endblock %}

