{% extends "MHNewsletterBundle::layout.html.twig" %}

{% block title %}
    Edition - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Edition Newsletter</h2>

    <div id="contain" >
        <div class="panel-group" id="accordion">
            {% for rubrique in newsletter.rubriques %}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#{{ rubrique.id }}">
                                {{ rubrique.name }}</a>
                        </h4>
                    </div>
                    <div id="{{ rubrique.id }}" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {% for post in rubrique.posts %}
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="well well-sm">
                                        {{ post.titre }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="btn btn-warning" href="{{ path('mh_newsletter_post_edit',  {'id': post.id, 'newsletter_id': newsletter.id}    ) }}">Modifier</a>
                                        <a class="btn btn-danger" href="{{ path('mh_newsletter_post_delete', {'id': post.id, 'newsletter_id': newsletter.id, 'rubrique_id': rubrique.id}    ) }}">Supprimer</a>
                                    </div>
                                    <br>
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-md-9">
                                    <a class="btn btn-primary" href="{{ path('mh_newsletter_post_add', {'id': rubrique.id, 'newsletter_id': newsletter.id}    ) }}">new Post</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-warning" href="{{ path('mh_newsletter_rubrique_edit',  {'id': rubrique.id, 'newsletter_id': newsletter.id}    ) }}">Modifier</a>
                                    <a class="btn btn-danger" href="{{ path('mh_newsletter_rubrique_delete', {'id': rubrique.id, 'newsletter_id': newsletter.id}    ) }}">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <br>
            <a class="btn btn-primary" href="{{ path('mh_newsletter_rubrique_add', {'id': newsletter.id}    ) }}" >Ajouter une rubrique</a>
        </div>
    </div>


{% endblock %}

{% block bundle_javascript %}

{% endblock %}

