{% extends "MHNewsletterBundle::layout.html.twig" %}

{% block title %}
     {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Liste des newsletters</h2>
    <hr>
        <ul class="list-unstyled newsletter-sortable">
            {% for newsletter in listNewsletter | sortbyfield('position') %}
                <li id="newsletter_{{ newsletter.id }}">
                    <div class="card bg-light border-dark">

                        <div class="card-header">
                            <h4 class="card-title">{{ newsletter.name }} {{ newsletter.week }}</h4>
                        </div>

                            <div id="info{{ newsletter.id }}">
                                <div class="card-body">
                                    <i> Crée le {{ newsletter.date|date("d/m/Y à H:i:s", "Europe/Paris")|raw }} par {{ newsletter.auteur }}</i><br>
                                    <i>Dernière Modification {{ newsletter.updateat|date("d/m/Y à H:i:s", "Europe/Paris")|raw }}</i>
                                    <div class="btn-group-sm float-right">
                                            <a href="{{ path('mh_newsletter_edit',{'id':newsletter.id}) }}" class="btn btn-warning">
                                                <i class="fa fa-edit" aria-hidden="true"> Modifier</i>
                                            </a>
                                            <a href="{{ path('mh_newsletter_view',{'id':newsletter.id}) }}" class="btn btn-info" target="_blank">
                                                <i class="fa fa-print" aria-hidden="true"> Afficher</i>

                                            </a>
                                            <a href="{{ path('mh_newsletter_download',{'id':newsletter.id}) }}" class="btn btn-success">
                                                <i class="fa fa-download" aria-hidden="true"> Telecharger</i>
                                            </a>
                                            <a href="{{ path('mh_newsletter_copy',{'id':newsletter.id}) }}" class="btn btn-secondary">
                                                <i class="fa fa-copy" aria-hidden="true"> Copier</i>
                                            </a>
                                            <a href="{{ path('mh_newsletter_delete',{'id':newsletter.id}) }}" class="btn btn-danger">
                                                <i class="fa fa-trash" aria-hidden="true"> Supprimer</i>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br>
                </li>

            {% endfor %}
        </ul>
    <hr>
 {% endblock %}

{% block bundle_javascript %}

    <script type="text/javascript">
        $(document).ready(function () {
            $(".newsletter-sortable").sortable({
                cursor: "move",
                update: function () {
                    var order_serialize = $(this).sortable("serialize", {key: "newsletters[]"});
                    $.ajax({
                        type: "POST",
                        url: "{{ path('mh_newsletter_order') }}",
                        data: order_serialize,
                        error: function () {
                            console.log('error');
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
